<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}">
    </head>
    <body>
        <h1>Formz</h1>
        <form action="{% url 'login:register' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Register">
        </form>
    </body>
</html>